@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  position: relative;
  overflow: hidden;
  background: linear-gradient(to top right, #f0f8f0 50%, #0a1f0a 50%);
  background-position: 0% 100%;
  background-size: 200% 200%;
  transition: background-position 0.7s ease-in-out;
}

.main-container.isDarkMode {
  background-position: 100% 0%;
}

.main-container h2,
.main-container p,
.main-container h1,
.main-container .icon {
  transition: color 0.7s ease;
}

.icon {
  transition: transform 0.5s;
}

.icon:hover {
  transform: scale(1.1);
}

.main-container.isDarkMode h2,
.main-container.isDarkMode p,
.main-container.isDarkMode h1,
.main-container.isDarkMode .icon {
  color: white; /* Adjust based on your theme colors */
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 0rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background: none;
}

.header .button {
  position: relative;
  overflow: hidden;
  padding: 0.5rem;
  border-radius: 9999px;
  background-color: #c0dfc0; /* Light mode color */
  color: black;
  transition: background-color 0.7s ease, color 0.7s ease;
}

.header.isDarkMode .button {
  background-color: #6b9d6b; /* Dark mode color */
  color: white;
}

.header .text {
  font-size: 1rem;
  font-weight: bold;
  color: black; /* Light mode color */
  transition: color 0.7s ease;
}

.header.isDarkMode .text {
  color: white; /* Dark mode color */
}

.company-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: none;
}

.company-info h2,
.company-info p {
  transition: color 0.7s ease;
}

.company-info.isDarkMode h2,
.company-info.isDarkMode p {
  color: white; /* Adjust based on your theme colors */
}

.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: #d2e8d2;
  transition: background-color 0.7s ease;
}

.footer.isDarkMode {
  background-color: #152a15;
}

.footer p {
  transition: color 0.7s ease;
}

.footer.isDarkMode p {
  color: white; /* Adjust based on your theme colors */
}

.footer .icon {
  transition: color 0.7s ease;
}

.footer.isDarkMode .icon {
  color: white; /* Adjust based on your theme colors */
}

.hover-bg-custom {
  transition: background-color 0.5s, transform 0.5s;
  border-color: #c0dfc0;
}

.hover-bg-custom:hover {
  background-color: #d2e8d2 !important; /* Replace #hexcolor with your chosen hex color */
  transform: scale(1.05);
  border-radius: 0.375rem;
  border-style: solid;
  border-width: 2px;
}

.hover-bg-custom.isDarkMode {
  transition: background-color 0.5s, transform 0.5s, border-color 0.5s;
  border-color: #456645;
}

.hover-bg-custom:hover.isDarkMode {
  background-color: #152a15 !important; /* Replace #hexcolor with your chosen hex color */
  transform: scale(1.05);
  border-radius: 0.375rem;
  border-style: solid;
  border-width: 2px;
}

/* Blinking cursor effect */
@keyframes blink-cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.typing-animation .cursor {
  display: inline-block;
  width: 0.15em;
  height: 1.25em; /* Adjust height to match your text */
  background-color: currentColor; /* Matches the text color */
  margin-left: 0.2em; /* Adjust the space between the text and the cursor */
  animation: blink-cursor 0.75s step-end infinite;
  position: relative;
  top: 5px;
}

@keyframes blink-cursor {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
